form(action="/regist" method="POST")
    input(type="text" placeholder="Имя" name="name")
    br
    input(type="text" placeholder="Фамилия" name="surname")
    br
    input(type="text" placeholder="Возраст" name="age")
    br
    input(type="text" placeholder="Имя пользователя" name="username")
    br
    input(type="text" placeholder="Пароль" name="password")
    br
    input(type="submit" value="Go")