block content
header
  div(id='home'): a(href="/") Home 
  div(id='events'): a(href="/events") Events 
  div(id='frends'): a(href='/frends') Frends 
  div(id='messages'): a(href='/messages') Messages 
  div(id='profile'): a(href='/profile') Profile
  block content