form(name='newEvent' id='newEvent')
    input(type="text" name="onEvent" placeholder='What event do you have ?')
    input(type="text" name='descriptionEvent' placeholder='Describe it')
    input(type="submit" value='submit') 
    block content